<html>
<head>
  <title>WEB SFTP</title>
  <link rel="stylesheet" type="text/css" href="/application.css">
  <link href='http://fonts.googleapis.com/css?family=Ewert' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">
    <img src="cowboy-into-the-sunset.jpg" />
    <%= yield %>
  </div>
</body>
</html>
